{{! Previous/next page links - only displayed on page 2+ }}
{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
<div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--2dp">   
	<article id="post-1" class="{{post_class}}">

		<div class="mdl-card__media" style="padding: 16px;background-color: #FFF;color:#000;height: auto;border-bottom: 1px solid rgba(0,0,0,.1);">
			<header>
				<h3><a style="color:#000;" href="{{url}}" rel="post-content">{{{title}}}</a></h3>
			</header><!-- .entry-header -->
		</div>
		<!-- .entry-content -->
		<div class="entry-content mdl-color-text--grey-600 mdl-card__supporting-text">
		{{content words="150"}}
		<p id="more-read"><a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" href="{{url}}">Read More</a></p>
		</div><!-- .entry-content -->

		<footer class="entry-footer meta mdl-card__actions mdl-card--border">

			<div class="avatar-img">
				{{#if author.image}}<img class="author-thumb" src="{{author.image}}" alt="{{author.name}}" width="32" height="32" nopin="nopin" />{{/if}}
			</div>
	        
			<div class="entry-meta">
				<strong class="byline">
					<span class="author">
						{{author}}
					</span>
				</strong>
				<span class="posted-on">
					<a href="{{url}}" rel="author">
						<time class="entry-date published" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
					</a>
				</span>
			</div><!-- .entry-meta -->
	              
		</footer><!-- .entry-footer -->
	</article><!-- #post-## -->
</div><!-- .mdl-cell -->
{{/foreach}}
{{pagination}}