<!-- 
	基于 MIUI（雾
	使用 Material Design Lite Kit 开发的 MD风格Ghost博客主题.
-->
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="HandheldFriendly" content="True" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{meta_description}}" />
	{{! Page Meta }}
	<title>{{meta_title}}</title>
	<link rel="shortcut icon" href="{{asset "favicon.ico"}}">
	{{! Styles'n'Scripts }}
	<link rel="stylesheet" type="text/css" href="{{asset "css/material.indigo-red.min.css"}}" />
	<link rel="stylesheet" type="text/css" href="{{asset "css/material.main.v2.css"}}" />
	<link rel="stylesheet" type="text/css" href="//fonts.loacg.com/icon?family=Material+Icons" />
	<link rel="stylesheet" type="text/css" href="//fonts.loacg.com/css?family=Roboto:300,400,500,700" />
	{{! Ghost outputs important style and meta data with this tag }}
	{{ghost_head}}
</head>
<body class="mdl-color-text--grey-700 mdl-base {{body_class}}">
	<div id="page" class="hfeed site mdl-layout mdl-js-layout mdl-layout--fixed-header">
		<header id="masthead" class="site-header mdl-layout__header" role="banner">
			{{navigation}}
		</header>
		<!-- scrollTop -->
		<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-js-ripple-effect scrollTop" style="display: none;">
		  <i class="material-icons">keyboard_arrow_up</i>
		</button>
		<!-- drawer navigation begin-->
		<div class="mdl-layout__drawer">
		  <span class="mdl-layout-title">{{@blog.title}}</span>
		  {{> "navdrawer"}}
		</div><!-- #drawer navigation end -->
	<!-- mdl-layout__content -->
		<main class="mdl-layout__content">
			<div id="content" class="site-content">
        {{! Everything else gets inserted here }}
        {{{body}}}
			</div><!-- #content -->

			<footer class="mdl-mega-footer">
				{{> "footer"}}
			</footer>
		</main> <!-- .mdl-layout__content -->
	</div><!-- #page end -->
	<div class="mdl-layout__obfuscator"></div>
  {{! Ghost outputs important scripts and data with this tag }}
  {{ghost_foot}}
  {{! The main JavaScript file for Material Design Lite }}
  <script type="text/javascript" src="{{asset "js/material.min.js"}}"></script>
</body>
</html>
